html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  color: #333;
  font-family: "Pingfang SC","Microsoft YaHei","Helvetica Neue", Helvetica,"STXihei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
a{
  text-decoration: none;
  color: #2196f3;
}
img{
  max-width: 100%;
}
.clearfix:after{
  display: block;
  content: '.';
  clear: both;
  visibility: hidden;
  height: 0;
}
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(255,255,255,.95);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  z-index: 999;
}
.header-content{
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}
h1{
  float: left;
  font-size: 4rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3rem;
}
i{
  font-size: 2rem;
  margin-right: 5px;
}
.section-subtitle{
  padding-top: 20px;
  color: #666;
}
.jobtitle{
  font-size: 2rem;
  color: #666;
}
.contact-info{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.4rem;
}
.contact{
  float: left;
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
  margin-left: 20px;
}
.contact-blog{
  float: right;
  margin: 0;
}
.contact-blog a{
  padding: 3px 5px;
  color: #fff;
  background-color: #2196f3;
  background: -webkit-linear-gradient(#4276A0,#2196f3);
  background: linear-gradient(#4276A0,#2196f3);
  border-radius: 3px;
}
.main-content-wrapper{
  padding-top: 70px;
}
.section:nth-child(even){
  background-color: #fafafa;
}
.main-content{
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.section-header{
  margin-bottom: 30px;
}
.skill-bar{
  text-align: left;
  font-size: 1.6rem;
}
.skill-item{
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  line-height: 40px;
  -webkit-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.skill-name{
  padding-left: 10px;
}
.skill-html,
.skill-js{
  color: #097EBF;
  background-color: #DCF2FF;
  border-left: 3px solid #097EBF;
}
.skill-html{
  width: 90%;
  -webkit-animation-name: skill-html;
  -o-animation-name: skill-html;
  animation-name: skill-html;
}
@-webkit-keyframes skill-html {
  from {width: 0}
  to {width: 90%}
}
@-o-keyframes skill-html {
  from {width: 0}
  to {width: 90%}
}
@-moz-keyframes skill-html {
  from {width: 0}
  to {width: 90%}
}
@keyframes skill-html {
  from {width: 0}
  to {width: 90%}
}
.skill-js{
  width: 70%;
  -webkit-animation-name: skill-js;
  -o-animation-name: skill-js;
  animation-name: skill-js;
}
@-webkit-keyframes skill-js {
  from {width: 0}
  to {width: 70%}
}
@-o-keyframes skill-js {
  from {width: 0}
  to {width: 70%}
}
@-moz-keyframes skill-js {
  from {width: 0}
  to {width: 70%}
}
@keyframes skill-js {
  from {width: 0}
  to {width: 70%}
}
.skill-jquery,
.skill-nodejs{
  color: #79A509;
  background-color: #EEFFC1;
  border-left: 3px solid #79A509;
}
.skill-jquery{
  width: 60%;
  -webkit-animation-name: skill-jquery;
  -o-animation-name: skill-jquery;
  animation-name: skill-jquery;
}
@-webkit-keyframes skill-jquery {
  from {width: 0}
  to {width: 60%}
}
@-o-keyframes skill-jquery {
  from {width: 0}
  to {width: 60%}
}
@-moz-keyframes skill-jquery {
  from {width: 0}
  to {width: 60%}
}
@keyframes skill-jquery {
  from {width: 0}
  to {width: 60%}
}
.skill-nodejs{
  width: 10%;
  -webkit-animation-name: skill-nodejs;
  -o-animation-name: skill-nodejs;
  animation-name: skill-nodejs;
}
@-webkit-keyframes skill-nodejs {
  from {width: 0}
  to {width: 10%}
}
@-o-keyframes skill-nodejs {
  from {width: 0}
  to {width: 10%}
}
@-moz-keyframes skill-nodejs {
  from {width: 0}
  to {width: 10%}
}
@keyframes skill-nodejs {
  from {width: 0}
  to {width: 10%}
}
.skill-ps{
  width: 50%;
  color: #1C4AAF;
  background-color: #BBD0FF;
  border-left: 3px solid #1C4AAF;
  -webkit-animation-name: skill-ps;
  -o-animation-name: skill-ps;
  animation-name: skill-ps;
}
@-webkit-keyframes skill-ps {
  from {width: 0}
  to {width: 50%}
}
@-o-keyframes skill-ps {
  from {width: 0}
  to {width: 50%}
}
@-moz-keyframes skill-ps {
  from {width: 0}
  to {width: 50%}
}
@keyframes skill-ps {
  from {width: 0}
  to {width: 50%}
}
.skill-detail{
  position: absolute;
  left: 150px;
  top: 15px;
  display: none;
  min-width: 250px;
  font-size: 1.4rem;
  line-height: 1.5;
  z-index: 10;
  color: #333;
}
.skill-detail ul{
  padding: 10px 30px;
  background-color: rgba(255,255,255,.6);
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.3)
}
.skill-detail ul li{
  list-style: disc;
}
.skill-item:hover .skill-detail{
  display: block;
}
.section-body{
  position: relative;
}

.college-logo{
  float: left;
  width: 50%;
  height: 150px;
}
.college-logo img{
  height: 150px;  
}
.education-info{
  float: left;
  width: 50%;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.5;
}
b{
  font-weight: bold;
}
.education-info li{
  list-style: disc inside;
}
.project{
  margin-top: 50px;
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.5;
}
.project-detail{
  padding: 20px 0 30px 0;
  border-bottom: 2px dotted #ddd;
}
.project-info{
  width: 50%;
  float: left;
  padding-left: 10px;
}
.project-info h4{
  font-size: 2rem;
  font-weight: bold;
}
.project-info p{
  margin-top: 20px;
}
.project-info a{
  padding-right: 50px;
}
.project-screenshot{
  float: right;
}
.project-screenshot img{
  width: 400px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0,0,0,.6));
  -o-filter: drop-shadow(0 0 10px rgba(0,0,0,.6));
  filter: drop-shadow(0 0 10px rgba(0,0,0,.6));
}
.project-screenshot.double img{
  width: 150px;
}
.section-body p{
  font-size: 16px;
  line-height: 2;
}
.main-footer{
  box-shadow: 0 0 1px rgba(0,0,0,.2),0 -1px 3px rgba(0,0,0,.2);
}
.main-footer .main-content{
  padding: 30px 0;
}
.main-footer .copyright{
  float: right;
  padding-right: 20px;
  text-align: right;
  color: #666;
  font-size: 1.4rem;
}
@media screen and (max-width: 1050px){
  .header-content{
    margin: 0 20px;
  }
  .section-body{
    padding: 0 10px;
  }
}
@media screen and (max-width: 845px){
  .main-header{
    position: relative;
  }
  .main-content-wrapper{
    padding-top: 0;
  }
  .header-content h1{
    float: none;
    line-height: 40px;
    font-size: 3.6rem;
  }
  .contact-info{
    position: relative;
  }
  .contact{
    margin-left: 0;
    padding-left: 0;
    margin-right: 20px;
  }
  .contact-blog{
    margin-right: 0;
  }
  .section-title{
    font-size: 3rem;
  }
  .section-subtitle{
    font-size: 2rem;
    padding-top: 10px;
  }
  .project-info{
    float: none;
    width: 100%;
  }
  .project-screenshot{
    margin-top: 10px;
  }
}
@media screen and (max-width: 478px){
  .college-logo img{
    height: 100px;
  }
  .education-info ul{
    position: relative;
    right: 100%;
    width: 200%;
  }
  .contact-blog{
    float: left;
  }
  .contact{
    margin-bottom: 10px;
  }
}